/* section 3 : banner */

#section-3-banner{
    /* background-color: var(--secondary1); */
    background-color: var(--primary1);
    height: 200px;
    /* color: var(--black-text); */
    color: var(--white-text);
}

#section-3-banner > div{
    max-width: 1300px;
    padding-left: 15px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    height: inherit;
    align-items: center;
}

#section-3-banner > div > div > h3{
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
}

#section-3-banner > div > div > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    }